$textColor: white;

* {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  font-family: 'Montserrat', sans-serif;
  color: $textColor;
}

h1 {
  margin-left: 2em;
  font-size: 4rem;
}

h2 {
  margin-left: 4em;
  margin-right: 2em;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-left: 2em;
    font-size: 2rem;
  }
  h2 {
    margin-left: 4em;
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

.section {
}

.main {
  background: url("../images/main.jpg") 65%;
  background-size: cover;
}

.modelOverview {
  background: url("../images/modelOverview.jpg") center;
  background-size: cover;
}

.modelFotoshootFinn {
  $textColorFF: black;

  h2 {
    color: $textColorFF;

    a {
      color: $textColorFF;
      text-decoration: underline;
    }
  }
}

.modelDBShooting {
  background: url("../images/modelDBShooting.jpg") center;
  background-size: cover;
  padding-top: 2em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1em;
}

.column {
  padding: 0 4px;
  flex: 19%;
  max-width: 19%;

  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s;
  }

  img:hover {
    transform: scale(1.1);
  }

}


@media only screen and (max-width: 800px) {
  .column {
    flex: 45%;
    max-width: 45%;

    img:hover {
      transform: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;

    img:hover {
      transform: none;
    }
  }
}


.devOverview {
  background: url("../images/developerOverview.jpg") center;
  background-size: cover;
}

.developer {
  background: #464147;

  img {
    width: 40em;
  }

}

.devCodeRed {
}

.contact {
  background: url("../images/contact.jpg") 68%;
  background-size: cover;

  h1, h2, a {
    color: #464147;
  }
}

.verticalCentered {
  padding: 25% 0 0 0;
}